@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: "Roboto", "ヒラギノ角ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

.font-heading {
  @apply font-orbitron font-bold;
}
