@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', 'ヒラギノ角ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
  font-size: 12px;
}

@media screen and (min-width: 520px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

.font-heading {
  @apply font-orbitron font-bold;
}
